# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*buzz/*.bo
*buzz/*.bdb
*.bo
*.bdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Built components
build
